<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <title>The Database | RecipeHouse</title>
</head>

<body>
    <!-- Default header for all pages -->
    <header>
        <div class="wrapper">
            <h1>RecipeHouse</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'recipedatabase' %}">Recipe Database</a></li>
                    <li><a href="{% url 'aboutus' %}">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Add code for 1) who we are, 2) purpose of project, 3) contact info -->



</body>
</html>