body {
    background-color: #fff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}
h2 {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: turquoise;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}
.clear {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}
header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 32px;
}
header h1 .color {
    color: #02b8dd;
}
header nav {
    float: right;
}
header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 10px;
    text-shadow: 0 0 3px #FF0000;
}
#hero-image {
    height: 500px;
    padding-top: 1px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../recipeportaldb/media/welcomebg1.jpg') no-repeat center;
}
#hero-image h2 {
    margin: 180px 0 40px 0;
    color: white;
    font-weight: bold;
}
.button-1 {
    display: block;
    text-align: center;
    background: #444;
    border-radius: 3px;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}
.button-1:hover {
    background-color: #fff;
    color: #444;
}
.button-2 {
    display: inline-block;
    color: #444;
    text-align: center;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    font-size: 16px;
    margin: 0 auto;
    text-decoration: underline;
}
#features ul {
    margin: 50px 0;
}
#features ul li {
    width: 280px;
    padding-top: 100px;
    float: left;
    margin-right: 10px;
    text-align: center;
    list-style-type: none;
}
#features ul li.feature-1 {
    background: url('../recipeportaldb/media/featuresicon-1.png') no-repeat top center;
}
#features ul li.feature-2 {
    background: url('../recipeportaldb/media/featuresicon-2.png') no-repeat top center;
}
#features ul li.feature-3 {
    background: url('../recipeportaldb/media/featuresicon-3.png') no-repeat top center;
}

#ye